# ENVIRONMENTAL FILE
/venv/
.venv
.env
.pdm-python
.python-version

# TEST FILES
*.ipynb
*.txt
test_output/
.benchmark/

# IDE FILES
.vscode
.idea

# CACHES
*__pycache__/
.mypy_cache

# LOG FILES
*.log

# VENV
*venv
.venv
# SUBMODULES
IBDCluster/log/README.md
# PROFILES
/profiles/
# BUILD DIRECTORIES
/dist/
/docs/build/
/docs/_build/
/build/

# FILES THAT CAN'T BE UPLOADED
./tests/test_true_results/biovu_longQT.DRIVE.txt
tests/test_kcne_inputs/
./test_true_results/
